h1{
    position:absolute;
    top: 100px;
    left: 100px;
}
.samplediv{
    position: static;
    width: 100px;
    height: 100px;
}
.divone{
    position: absolute;
    width: 450px;
    z-index: 3;
    background-color: aqua;
}
.divtwo{
    position: absolute;
    width: 450px;
    z-index: 4;top: 30px;
    background-color: red;
}
.divthree{
    position: absolute;
    width: 450px;
    height: 150px;
    background-color: brown;
    z-index: 5;
    top: 50px;
}
.divfour{
    position: absolute;
    width: 450px;
    height: 150px;
    background-color: gray;
    top: 70px;
    z-index: 7;
}
.h1s{
    top: 100px;
    z-index: 8;
}
.sampling{
    float:right;
    width: 100px;
    height: 100px;
}

.sampleoverflow{
    width: 200px;
    height: 100px;
    background-color: pink;
    overflow-y: scroll;
    position:relative;
}
.box{
    width:200px;
    height: 200px;
    background-color: aqua;
    border: 10px;
    display:inline-block;
    margin-top: 50px;
}
h3:visited{
    color:brown;
}
