body{
     background-color:#FF8000;
     /* background-image: url(dessert.jpg); */
}

h1#one{
    text-align: center;
    color: whitesmoke;
    font-style: oblique;
}

ul{
    margin-left: 30%;
}
ul,li{
    display: inline;
    padding: 10px;
    color: white;
}
li:hover{
    color: gray;
    cursor: pointer;
}
.searchbar{
    margin-left: 15%;
    display: inline;
}
img{
    height: 200px;
    width: 350px;
    padding: 30px;
    padding-bottom: 2%;
    

}
.outerimg{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}
.outerimg1{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
h3{
    text-align: left;
    margin-left: 12%;
    display: inline;
    color: white;
    padding-top: 2%;
    padding-bottom: 0%;
}

.amountcls{
    text-align: right;
    margin-right: 10%;
    display: inline;
    padding-left: 150px;
    color: black;
}

.imgdiv{
    border-color: white;
    border-style:solid;
    display: inline-block;
    border-width: 2px;
    border-radius: 10%;
    padding: 15px;
    margin: 10px;
    box-shadow: 0.4px 8px rgc(0,0,0,0.2);
}
.h4cls{
    text-align: left;
    margin-left: 12%;
    color: black;
    display: flex;
    padding-top: 0%;
    
}

.imgdiv:hover{
    transform: scale(1.1);
    box-shadow: 0.4px 8px rgc(0,0,0,0.2);
}