body{
    background-color: bisque; 
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
}
h2{
    text-align: center;
    color: blueviolet;
 
}
button#one{
    margin: 10px;
    color: black;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color:white;

}
button#two{
    margin: 10px;
    color:aliceblue;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: green;
}
h1#h1tag{
    text-align: center;
    color: blueviolet;
    border-bottom: dotted 5px;
    border-color: black;
    padding-bottom: 20px;
    background-color: aliceblue;
}
a{
    color: blue; 
    color: rgb(red, green, blue);
    color: rgba(red, green, blue, alpha);
    opacity: 0.3;
}  

 h1{
    padding: 10px;
    border: dotted 5px;
    border-bottom: solid 5px;
} 
 h1#addedup{
    color:blueviolet;

} 
 
img{
    display: flex;
    flex-direction: row;
 } 


table,th,td{
    /* border: 1px solid;  */
    border-top: 1px dashed;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    text-align: center;
    height: 35px;
    border-right: 1px solid;
}
th{
    background-color: black;
    color: white;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
div#uldiv{
    display: flex;

}
#nav{
    
}