*{
    margin: 0%;
}
div#menu{
    display: flex;
    height: max-content;
    width: max-content;
}
img#menuimg{
    padding-left: 30px;
    padding-top: 20px;
    width: 20px;
    height: 20px;
}
img#appimg{
    padding-top: 20px;
    width: 30px;
    height: 20px;
}

p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 17px;
}
sup{
    font-size: 10px;
    font-weight:100;
    padding-left: 5px;
    color: grey;
}
input#searchinput{
    margin-left: 150px;
    height: 40px;
    width: 550px;
    border-radius: 30px;
    border-right: 70px;
    margin-top: 17px;
    border-color:#e0e0e0;
    border-style:solid;
    

    background-image:  url(searchimh.png) ;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position:  right 0% center;
    
    
}
::placeholder{
    padding: 15px;
    font-size: medium;
    color:gray;
    font-weight: 500;
}
button#voicebutton{
    border-radius: 30px;
    height: 40px;
    width: 40px;
    border-color: white;
    border-style: solid;
    background-color:#e0e0e0;
    margin-top: 16px;
    margin-left: 15px;
}
img#voiceimg{
    height: 24px;
    width: 24px;
}
button#createbutton{
    border-radius: 20px;
    width: 110px;
    font-size: 20px;
    font-weight: lighter;
    border-color: white;
    border-style: solid;
    margin-left: 120px;
    margin-top: 20px;
    background-color: rgba(0, 0,0, 0.1);
}
img#bell{
    width: 25px;
    height: 25px;
    margin-top: 26px;
    margin-left: 30px;
}
button#mail{
    background-color: green;
    color: white;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 21px;
}
img#himg{
    width: 25px;
    height: 20px;
}
img#shimg{
    width: 35px;
    height: 30px;
}
img#sub{
    width: 25px;
    height: 25px;
    margin-top: 5px;
}
.hisimg{
    width: 35px;
    height: 30px;
}
img#playimg{
      width: 35px;
    height: 30px;
}
img#vidimg{
    width: 30px;
    height: 30px;
}
img#lvimg{
    width: 30px;
    height: 30px;
}
img#dnldimg{
    width: 35px;
    height: 30px;
}

div#sidebar{
    margin-top: 20px;
    margin-left: 20px;
    width:max-content;
    height: max-content;
    position: absolute;
}


.home{
    display: flex;
    margin-bottom: 15px;
    margin-left: 6px;
}
.shorts{
    display: flex;
    margin-bottom: 15px;
}
.sub{
    display: flex;
    margin-bottom: 15px;
}
.history{
    display: flex;
    margin-bottom: 15px;
}
.playlist{
    display: flex;
    margin-bottom: 15px;
}
.yourvideo{
    display: flex;
    margin-bottom: 15px;
    margin-left: 2%;
}
.watchlater{
    display: flex;
    margin-bottom: 15px;
}
.linkedvideo{
    display: flex;
    margin-bottom: 15px;
    margin-left: 3%;
}
.download{
    display: flex;
    margin-bottom: 15px;
}

h3{
    font-weight: lighter;
    margin-bottom: 10px;
    margin-left: 3%;
}
div#you{
    display: flex;
    margin-top: 10px;
    height: max-content;
    width: max-content;
    margin-bottom: 10px;
}
.you{
    margin-top: 10px;
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.arrow{
    margin-top: 9px;
    margin-left: 15px;
}
img{
    margin-right: 20px;
}
hr{
    color: #e5ffcc;
    opacity: 0.3;
}
.explore{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.shopping{
    display: flex;
    margin-bottom: 15px;
}
img#shoppingimg{
    width: 35px;
    height: 30px;
}
.music{
    display: flex;
    margin-bottom: 15px;
}
img#musicimg{
    height: 25px;
    width: 25px;
}
h3#music{
    margin-left: 15px;
   
}
.flims{
    display: flex;
    margin-bottom: 15px;
}
img#flimsimg{
    height: 25px;
    width: 25px;
    margin-right: 7%;
}
h3#flims{
    margin-left: 22px;
}
.items{
    display: flex;
    margin-left: 250px;
    padding-top: 15px;
    position: absolute;
}
.catogrybutton{
    border-radius: 10px;
    font-weight: 600;
    background-color:rgba(0, 0,0, 0.1);
    border-color: white;
    border-style: solid;
    height: 35px;
    width: max-content;
    margin-right: 10px;
}
.youtubevideo{
    display: flex;
    margin-top: 70px;
    margin-left: 250px;
    height: max-content;
}
.img{
    padding: 10px;
    height: max-content;
}

.profileimg{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    display: inline;
    margin-top: 10px;
}
.heading{
    display: inline;
    margin-top: 18px;
    padding-right: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img1{
    padding: 10px;
    height: max-content;
}
.youtubevideo1{
    display: flex;
    margin-top: 26px;
    margin-left: 250px;
    height: max-content;
}
h5{
    padding-left: 52px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.6;
    display: flex;
}
.profilediv{
    display: flex;
}
.youtubevideo2{
    display: flex;
    margin-top: 26px;
    margin-left: 250px;
    height: max-content;
}